<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Exemple de template</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>

<body>

    {{! Le contrôleur transmet deux informations à cette vue : - villes : la liste des villes à afficher }}

    <h1>Les villes</h1>
    <a href='/cities/add'>Ajouter une ville</a>
    <table>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Population</th>
            <th>Country</th>
            <th>Action</th>
        </tr>
        {{! Pour chaque ville v dans la liste 'villes' transmise par le contrôleur }} {{#cities}}
        <tr>
            {{! On affiche les informations de la ville }}
            <td>{{id}}</td>
            <td>{{name}}</td>
            <td>{{population}}</td>
            <td>{{country.name}}</td>
            <td>
                <a href='delete?id={{id}} '>Supprimer</a>
                <a href='edit?id={{id}} '>Modifier</a>
            </td>
            {{/cities}}
        </tr>
    </table>

</body>

</html>